${jsonencode({
    "ca_certs": {},
    "capacity_concurrency": {
        "value": "10"
    },
    "capacity_memory": {
        "value": "512"
    },
    "custom_image_tag": {
        "value": "hashicorp/build-worker:now"
    },
    "disk_path": {},
    "enable_active_active": {},
    "enable_metrics_collection": {
        "value": "1"
    },
    "enc_password": {
        "value": "WObhkPcmRMHlWL5f4F5cIjIqHwMMA2jv-NzoMn9gPz7W_ud1V-123"
    },
    "extra_no_proxy": {},
    "gcs_bucket": {
        "value": "agtfemigtest" // temp
    },
    "gcs_credentials": {
        "value": "" // temp
    },
    "gcs_project": {
        "value": "ag-tfe-v4-playground" // temp
    },
    "hairpin_addressing": {}, // maybe usefull
    "hostname": {
        "value": "tfe-migtest-2.guselietov.com"  // temp
    },
    "iact_subnet_time_limit": {
        "value": "60"
    },
    "installation_type": {
        "value": "production"
    },
    "pg_dbname": {
        "value": "migtest"
    },
    "pg_extra_params": {
        "value": "sslmode=require"
    },
    "pg_netloc": {
        "value": "35.232.117.237"
    },
    "pg_password": {
        "value": "basd98asdf_q23"
    },
    "pg_user": {
        "value": "postgres"
    },
    "placement": {
        "value": "placement_gcs"
    },
    "production_type": {
        "value": "external"
    },
    "rabbitmq_host": {
        "value": "rabbitmq.ptfe"
    },
    "rabbitmq_port": {
        "value": "5672"
    },
    "rabbitmq_protocol": {
        "value": "amqp://"
    },
    "rabbitmq_username": {
        "value": "hashicorp"
    },
    "rabbitmq_vhost": {
        "value": "hashicorp"
    },
    "redis_host": {},
    "redis_pass": {
        "value": "93lSgqoOoFYzKYbLnVsjeRfFw9VRrOJd"
    },
    "redis_port": {},
    "redis_use_password_auth": {},
    "redis_use_tls": {},
    "tbw_image": {
        "value": "default_image"
    },
    "tls_vers": {
        "value": "tls_1_2_tls_1_3"
    },
    "user_token": {
        "value": "${user_token}"
    },
    "archivist_token": {
        "value": "${archivist_token}"
    },
    "internal_api_token": {
        "value": "${internal_api_token}"
    },
    "backup_token": {
        "value": "${backup_token}"
    }    
})}
