{
    "installation_type": {
        "value": "production"
    },
    "hostname": {
        "value": "${hostname}"
    },
    "production_type": {
        "value": "external"
    },
    "placement": {
        "value": "placement_gcs"
    },
    "enc_password": {
        "value": "${enc_password}"
    },
    "pg_user": {
        "value": "${pg_user}"
    },
    "pg_password": {
        "value": "${pg_password}"
    },
    "pg_netloc": {
        "value": "${pg_netloc}"
    },
    "pg_dbname": {
        "value": "${pg_dbname}"
    },
    "pg_extra_params": {
        "value": "${pg_extra_params}"
    },
    "gcs_bucket": {
        "value": "${gcs_bucket}"
    },
    "gcs_credentials": {
        "value": ${jsonencode(gcs_credentials)}
    },
    "gcs_project": {
        "value": "${gcs_project}"
    },
    "enable_active_active" : {
        "value": "${active_active_flag}"
    },
    "redis_host" : {
        "value": "${redis_host}"
    },
    "redis_port" : {
        "value": "${redis_port}"
    },
    "redis_use_password_auth" : {
        "value": "0"
    },
    "redis_use_tls" : {
        "value": "0"
    },
    "iact_subnet_list": {
        "value": "0.0.0.0/0"
    },
    "iact_subnet_time_limit": {
        "value": "unlimited"
    },
    "install_id": {
        "value": "${install_id}"
    },
    "root_secret": {
        "value": "${root_secret}"
    },
    "registry_session_encryption_key": {
        "value": "${registry_session_encryption_key}"
    },
    "registry_session_secret_key": {
        "value": "${registry_session_secret_key}"
    },
    "cookie_hash": {
        "value": "${cookie_hash}"
    },
    "user_token": {
        "value": "${user_token}"
    },
    "archivist_token": {
        "value": "${archivist_token}"
    },
    "internal_api_token": {
        "value": "${internal_api_token}"
    },
    "backup_token": {
        "value": "${backup_token}"
    }
}